<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Homepage | Football Fan News</title>
    <link rel="stylesheet" media="screen" type="text/css" href="../static/footballFanNews.css"/>
    <script src="../static/scripts/homepage_script.js"></script>
</head>
<body>
    <div id="header">
        <h1>Football Fan News</h1>
    </div>
<head>
    <meta charset="UTF-8">
    <title>Homepage | Football Fan News</title>
    <link rel="stylesheet" media="screen" type="text/css" href="/static/footballFanNews.css"/>
    <script src="/static/scripts/homepage_script.js"></script>
</head>
<body>
    <div id="header">
        <h1>Football Fan News</h1>
    </div>
    <div id="navbar">
        <a href=""  class="selectedLink">Home</a>
        <a href="teams_and_players.html">Teams and Players</a>
        <a href="" id="matchesDropdownText">Matches</a>
        <a href="search.html">Search</a>
        <a href="league_tables.html" id="leagueTable">League Tables</a>
        <ul id="matchesDropdownContent">
            <li><a href="live_matches.html">LIVE Matches</a></li>
            <li><a href="past_matches.html">Past Matches</a></li>
            <li><a href="upcoming_fixtures.html">Upcoming Fixtures</a></li>
        </ul>
        
    </div>
    <div class="topLeftBox">
        <p id="teamA", id="teamAScore", vs , id="teamB", id="teamBScore"></p>

    </div>
    <div class="topRightBox">

    </div>
    <div class="centerBox">
        <div class="slider">
            <div class="slides">
                <input type="radio" name="radio-button" id="radio1">
                <input type="radio" name="radio-button" id="radio2">
                <input type="radio" name="radio-button" id="radio3">
                <input type="radio" name="radio-button" id="radio4">

                <div class="slide first">
                    <img src="../static/headline1.png" alt="headline1">
                </div>

                <div class="slide">
                    <img src="../static/headline2.png" alt="headline2">
                </div>

                <div class="slide">
                    <img src="../static/headline3.png" alt="headline3">
                </div>

                <div class="slide">
                    <img src="../static/headline4.png" alt="headline4">
                </div>

                <div class="auto-navigation">
                    <div class="auto-button1"></div>
                    <div class="auto-button2"></div>
                    <div class="auto-button3"></div>
                    <div class="auto-button4"></div>
                </div>
            </div>
            <div class="manual-navigation">
                <label for="radio1" class="manual-button"></label>
                <label for="radio2" class="manual-button"></label>
                <label for="radio3" class="manual-button"></label>
                <label for="radio4" class="manual-button"></label>
            </div>


        </div>

    </div>


    <div class="bottomLeftBox">
        <img src="../static/salah.png" id="playerOfTheMonth" alt="player of the month picture">
    </div>

    <div class="bottomRightBox">
        <img src="../static/leagueTable.png" alt="league table">
    </div>